###############################3
# This File can be located in project dir "./" or user config dir "~/.config/tasmota_flasher/tasmota_flasher.config"
# Project dir will set defaults and user dir will overwrite

# firmware_file=tasmota.bin

# Passwords are limited to 64 characters. Do not use special characters or white spaces in the password.
# Do not use special characters or white spaces in the SSID
#device_config_ssid1=
#device_config_password1=
#device_config_ssid2=
#device_config_password2=

url_git_tasmota=https://github.com/arendst/Tasmota/
dir_temp=~/.cache/tasmota_flasher
dir_config_dir=~/.config/tasmota_flasher

device_write_flash=true
device_write_config=true

tasmota_build_tag=v9.5.0

read_mac=`esptool read_mac`
device_port=`echo "$read_mac" | grep "Serial port" | cut -d " " -f 3`
device_type=`echo "$read_mac" | grep "Detecting chip type... " | cut -d " " -f 4`

echo Detected $device_port $device_type