###############################3
# This File can be located in project dir "./" or user config dir "~/.config/tasmota_flasher/tasmota_flasher.config"
# Project dir will set defaults and user dir will overwrite

# firmware_file=tasmota.bin

# Passwords are limited to 64 characters. Do not use special characters or white spaces in the password.
# Do not use special characters or white spaces in the SSID
#device_config_ssid1=
#device_config_password1=
#device_config_ssid2=
#device_config_password2=

url_git_tasmota=https://github.com/arendst/Tasmota/
url_firmware_file=https://ota.tasmota.com/tasmota32/release/

dir_temp=~/.cache/tasmota_flasher
dir_config_dir=~/.config/tasmota_flasher

device_write_flash=true
device_write_config=true

tasmota_build_tag=v9.5.0

tasmota_build_custom_builds="DISPLAY_SSD1306 RC522"

#if [ -z ${USE_ESPTOOL_PIP+x} ]; then
    [ -x "$(command -v pip3)" ] || (echo "We need to: sudo apt install python3-pip" && sudo apt install python3-pip)
    [ -x "$(command -v esptool.py)" ] || pip3 install esptool
#
    #git clone https://github.com/espressif/esptool.git --directory-prefix=${dir_esptool}/
    #pip install --user -e .
#else
    #[ -x "$(command -v esptool)" ] || (echo "We need to: sudo apt install esptool" && sudo apt install esptool)
#sfi

read_mac=`esptool.py read_mac`
# --before no_reset --after no_reset 
device_port=`echo "$read_mac" | grep "Serial port" | cut -d " " -f 3`
device_type=`echo "$read_mac" | grep "Detecting chip type... " | cut -d " " -f 4`
device_baud=115200

echo Detected $device_port $device_type

source ${dir_config_dir}/tasmota_flasher.config